
@font-face {
    font-family:"GT Haptik Trial Medium Oblique Italic";
    src:url("GT-Haptik-Trial-Medium-Oblique.woff2") format("woff2"),url("GT-Haptik-Trial-Medium-Oblique.woff") format("woff"),url("GT-Haptik-Trial-Medium-Oblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        