
@font-face {
    font-family:"GT Haptik Trial Regular Rotalic Regular";
    src:url("GT-Haptik-Trial-Regular-Rotalic.woff2") format("woff2"),url("GT-Haptik-Trial-Regular-Rotalic.woff") format("woff"),url("GT-Haptik-Trial-Regular-Rotalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        