
@font-face {
    font-family:"GT Haptik Trial Medium Rotalic Regular";
    src:url("GT-Haptik-Trial-Medium-Rotalic.woff2") format("woff2"),url("GT-Haptik-Trial-Medium-Rotalic.woff") format("woff"),url("GT-Haptik-Trial-Medium-Rotalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        