
@font-face {
    font-family:"GT Haptik Trial Regular Regular";
    src:url("GT-Haptik-Trial-Regular.woff2") format("woff2"),url("GT-Haptik-Trial-Regular.woff") format("woff"),url("GT-Haptik-Trial-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        