
@font-face {
    font-family:"GT Haptik Trial Regular Oblique Italic";
    src:url("GT-Haptik-Trial-Regular-Oblique.woff2") format("woff2"),url("GT-Haptik-Trial-Regular-Oblique.woff") format("woff"),url("GT-Haptik-Trial-Regular-Oblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        